<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103867101118-kei1hismhn8dmfgv5c88o722sj12scuj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103867101118-kei1hismhn8dmfgv5c88o722sj12scuj</string>
	<key>API_KEY</key>
	<string>AIzaSyA7cCvWrYoQEONrBDBNKBFq5Kbh9HDpjJY</string>
	<key>GCM_SENDER_ID</key>
	<string>103867101118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vitalii.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-6b239</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-6b239.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103867101118:ios:120c7640e663e4088753ef</string>
</dict>
</plist>